<% @messages.each do |message| %>
  <p style="font-family: Roboto,"Helvetica Neue",Tahoma,Arial,sans-serif; text-align: start; unicode-bidi: plaintext;">
    <% if message.content %>
      <%= CommonMarker.render_html(message.content).html_safe %>
    <% end %>
    <% if message.attachments %>
      <% message.attachments.each do |attachment| %>
        Bijlage [<a href="<%= attachment.file_url %>" _target="blank">Klik hier om te bekijken</a>]
      <% end %>
    <% end %>
  </p>
<% end %>
