<p>Hallo <%= @contact.name %>,</p>

<p>Je hebt nieuwe berichten ontvangen.</p>

<% @messages.each do |message| %>
  <tr>
    <td>
      <b><%= message.incoming? ? 'Jij' : message.sender&.available_name || message.sender&.name %></b>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 20px; margin: 5px 0 20px 0; background: #F2F3F7; border-radius: 10px; display: inline-block; font-family: Helvetica Neue,Tahoma,Arial,sans-serif; text-align: start; unicode-bidi: plaintext;">
      <% if message.content %>
        <%= CommonMarker.render_html(message.content).html_safe %>
      <% end %>
      <% if message.attachments %>
        <% message.attachments.each do |attachment| %>
          Bijlage [<a href="<%= attachment.file_url %>" _target="blank">Klik hier om te bekijken</a>]
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
