@font-face {
  font-family: 'Inter';
  src:
      url("~shared/assets/fonts/RO-SansWebText-Regular.woff") format("woff"),
      url("~shared/assets/fonts/RO-SansWebText-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src:
      url("~shared/assets/fonts/RO-SansWebText-Bold.woff") format("woff"),
      url("~shared/assets/fonts/RO-SansWebText-Bold.woff2") format("woff2");
  font-weight: bold;
}
