<p>Hallo {{user.available_name}},</p>

<p>Tijd om de wereld te redden. Een nieuw gesprek is aan jou toegewezen.</p>

{% for chat_message in conversation.recent_messages %}
  <div>
    <h4 style="margin: 0;">
      {% if chat_message.sender == user.available_name %}
        You
      {% else %}
        {{chat_message.sender}}
      {% endif %}
    </h4>
  </div>

  <div style="padding: 10px 20px; margin: 5px 0 20px 0; background: #F2F3F7; border-radius: 10px; display: inline-block; font-family: 'Helvetica Neue',Tahoma,Arial,sans-serif; text-align: start; unicode-bidi: plaintext;">
    {% if chat_message.content %}
      {{chat_message.content}}
    {% endif %}

    {% if chat_message.attachments %}
      {% for attachment in chat_message.attachments %}
        Bijlage [<a href="{{ attachment }}" _target="blank">Klik hier om te bekijken</a>]
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}

<p>
Klik <a href="{{action_url}}">hier</a> om aan de slag te gaan.
</p>
