<template>
  <a
    :href="url"
    target="_blank"
    rel="noreferrer noopener nofollow"
    class="image"
  >
    <img
      :src="thumb"
			v-bind:alt="$t('ATTACHMENTS.image.CONTENT') + '-' + id" 
      @click="onClick"
      @error="onImgError"
    />
    <div class="meta">
      <div class="loading">
        <spinner v-if="isInProgress" size="small" />
        <span v-if="isInProgress">{{ $t('COMPONENTS.FILE_BUBBLE.UPLOADING') }}</span>
      </div>
      <span class="time">{{ readableTime }}</span>
    </div>
  </a>
</template>

<script>
import Spinner from 'shared/components/Spinner';

export default {
  props: {
    url: { type: String, default: '' },
    thumb: { type: String, default: '' },
    readableTime: { type: String, default: '' },
		id: { type: String, default: '' },
		isInProgress: { type: Boolean, default: false},
  },
  methods: {
    onImgError() {
      this.$emit('error');
    },
    onClick() {
      this.$emit('click');
    },
  },
  components: {
    Spinner,
  },
};
</script>
<style lang="scss" scoped>
@import '~widget/assets/scss/variables.scss';

.image {
  display: block;
  position: relative;

  .wrap {
    position: relative;
    display: flex;
    max-width: 100%;

    &::before {
      background-image: linear-gradient(
        -180deg,
        transparent 3%,
        $color-heading 130%
      );
      bottom: 0;
      content: '';
      height: 20%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      width: 100%;
    }
  }

  img {
    width: 100%;
    max-width: 250px;
  }


  .meta {
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem;

    .spinner {
      padding: 0;
    }

    .time {
      font-size: $font-size-small;
      color: $color-white;
      white-space: nowrap;
    }
  }
}
</style>
