<template>
  <div class="px-5">
    <div class="flex items-center justify-between mb-4">
      <div class="text-black-700">
        <div class="text-xl leading-5 font-medium mb-1 font-bold">
          {{
            isOnline
              ? $t('TEAM_AVAILABILITY.ONLINE')
              : $t('TEAM_AVAILABILITY.OFFLINE')
          }}
        </div>
        <div class="text-lg leading-5 font-medium mt-3">
          {{ replyWaitMessage }}
        </div>
      </div>
      <available-agents v-if="isOnline" :agents="availableAgents" />
    </div>
    <custom-button
      class="font-medium"
      id="start-conversation"
      block
      :bg-color="widgetColor"
      :text-color="textColor"
      @click="startConversation"
    >
      {{
        hasConversation ? $t('CONTINUE_CONVERSATION') : $t('START_CONVERSATION')
      }}
    </custom-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { getContrastingTextColor } from '@chatwoot/utils';
import AvailableAgents from 'widget/components/AvailableAgents.vue';
import CustomButton from 'shared/components/Button';
import configMixin from 'widget/mixins/configMixin';
import availabilityMixin from 'widget/mixins/availability';
import darkMixin from 'widget/mixins/darkModeMixin.js';

export default {
  name: 'TeamAvailability',
  components: {
    AvailableAgents,
    CustomButton,
  },
  mixins: [configMixin, availabilityMixin, darkMixin],
  props: {
    availableAgents: {
      type: Array,
      default: () => {},
    },
    hasConversation: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    ...mapGetters({
      widgetColor: 'appConfig/getWidgetColor',
    }),
    textColor() {
      return getContrastingTextColor(this.widgetColor);
    },
    isOnline() {
      const { workingHoursEnabled } = this.channelConfig;
      const anyAgentOnline = this.availableAgents.length > 0;

      if (workingHoursEnabled) {
        return this.isInBetweenTheWorkingHours;
      }
      return anyAgentOnline;
    },
    replyWaitMessage() {
      const { workingHoursEnabled } = this.channelConfig;

      if (this.isOnline) {
        return this.replyTimeStatus;
      }
      if (workingHoursEnabled) {
        return this.outOfOfficeMessage;
      }
      return '';
    },
    isOpen() {
			let test = this.$store.state.events.isOpen;
      return this.$store.state.events.isOpen;
    }
  },
  mounted() {
    this.focusButton();
  },
  methods: {
    startConversation() {
      this.$emit('start-conversation');
    },
    focusButton() {
      document.getElementById('start-conversation').focus();
    },
  },
  watch: {
    isOpen(isOpen) {
      if(isOpen) {
        this.focusButton();
      }
    }
  }
};
</script>
