<p>Hallo,</p>

<p>Je Slack integratie is verlopen. </p>
<p>Regel de verbinding met Slack alsjeblieft opnieuw om er berichten mee te blijven ontvangen.</p>

<p>
Klik <a href="{{action_url}}">hier</a> om opnieuw te verbinden.
</p>
