<p>Welkom, <%= @resource.name %>!</p>

<% account_user = @resource&.account_users&.first %>
<% if account_user&.inviter.present? && @resource.unconfirmed_email.blank? %>
  <p><%= account_user.inviter.name %>, met <%= account_user.account.name %>, heeft je uitgenodigd om Chatwoot uit te proberen! </p>
<% end %>

<% if @resource.confirmed? %>
  <p>Je kunt inloggen via de onderstaande link:</p>
<% else %>
  <p>Je kunt je email verifiëren via de onderstaande link:</p>
<% end %>

<% if @resource.confirmed? %>
<p><%= link_to 'Login op mijn account', frontend_url('auth/sign_in') %></p>
<% elsif account_user&.inviter.present? && @resource.unconfirmed_email.blank?  %>
<p><%= link_to 'Bevestig mijn account', frontend_url('auth/password/edit', reset_password_token: @resource.send(:set_reset_password_token)) %></p>
<% else %>
<p><%= link_to 'Bevestig mijn account', frontend_url('auth/confirmation', confirmation_token: @token) %></p>
<% end %>
