<p>Hallo <%= @resource.email %>!</p>

<p>Je hebt een nieuw wachtwoord aangevraagd voor Pleio Chat. Volg de link hieronder om deze in te stellen.</p>

<p><%= link_to 'Verander mijn wachtwoord', frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p>Als je geen nieuw wachtwoord hebt aangevraagd, kan je deze mail negeren.</p>
<p>Je wachtwoord verandert niet totdat je via deze link een nieuwe hebt ingesteld.</p>
