<p>Hallo <%= @resource.email %>!</p>

<p>Je account is op slot gezet vanwege een opvallend aantal foutieve inlogpogingen.</p>

<p>Volg onderstaande link om je account weer te ontgrendelen:</p>

<p><%= link_to 'Ontgrendel mijn account', unlock_url(@resource, unlock_token: @token) %></p>
